@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
:root {
  --primary: hsl(180, 66%, 49%);
  --primary-hover: rgba(124, 210, 210, 0.945);
  --primary-dark: hsl(257, 27%, 26%);
  --secondary: hsl(0, 87%, 67%);
  --secondary-hover: hsl(0, 82%, 77%);
  --neutral-gray2: hsl(225, 33%, 95%); /* fondo cards */
  --neutral-gray: hsl(0, 0%, 75%);
  --neutral-violet: hsl(257, 7%, 63%);
  --neutral-dark-gray: hsl(255, 11%, 22%);
  --neutral-dark-violet: hsl(260, 8%, 14%);
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

/* navbar */
.text-navBar {
  color: var(--neutral-violet);
}
.text-navBar a:hover {
  color: var(--neutral-dark-violet);
}
.navBarMobile{
  background: var(--primary-dark);
  color: white;
}
.navBarMobile a:hover{
  color: var(--neutral-violet);
}
.navBarMobile li{
  margin: 1rem auto;
}
/* pricipal Content */
.textTitle {
  color: var(--neutral-dark-gray);
}
.textDescription {
  color: var(--neutral-violet);
}
/* //formLink */
.containerForm {
  background: linear-gradient(
    to bottom,
    white 0%,
    white 50%,
    var(--neutral-gray2) 50%,
    var(--neutral-gray2) 100%
  );
}
.formLink {
  background-color: var(--primary-dark);
  z-index: -10;
}
.link {
  border: 3px solid white;
}
.link:invalid {
  border-color: var(--secondary);
}
.link:valid {
  border-color: #4bcc4b;
  background-color: #a7faa7 !important;
}
.textUrlLong {
  color: var(--primary-dark);
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline;
  white-space: nowrap;
}
.textUrlShort {
  color: var(--primary);
}
.btn {
  background: var(--primary) !important;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-weight: 700;
  color: white;
}
.btn2 {
  background: var(--primary) !important;
  background: var(--primary-dark) !important;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-weight: 700;
  color: white;
}
.btn:hover {
  background: var(--primary-hover) !important;
}
.btnEmpty{
  background: var(--secondary) !important;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-weight: 700;
  color: white;
}
.btnEmpty:hover {
  background: var(--secondary-hover) !important;
}
.containerCardsUrl{
  background: var(--neutral-gray2);

}

/* cards advanced statistics*/
.containerCards {
  background: var(--neutral-gray2);
}
.imgCard {
  background: var(--primary-dark);
  padding: 1rem;
  border-radius: 3rem;
  top: -15%;
}
.vl {
  border-color: var(--primary);
  border-left: 8px solid var(--primary);
  height: 700px;
  position: absolute;
  left: 50%;
  margin-left: -6px;
  top: 25%;
}
@media (min-width: 1024px) {
  .vl {
    border-top: 8px solid var(--primary);
    border-left: none;
    width: 500px;
    left: 25%;
    margin-top: -6px;
    top: 38%;
    height: 100px;
  }
}
@media (min-width: 1256px) {
  .vl {
    width: 800px;
    top: 63%;
  }
}
@media (min-width: 1750px) {
  .vl {
    width: 1000px;
  }
}

/* footer */
.containerFoot {
  background: var(--neutral-dark-violet);
}
.textFoot {
  color: var(--neutral-violet);
}
.textFoot li:hover:not(h5) {
  color: var(--primary);
}
.textFoot h5:hover {
  color: white;
}
.social path:hover {
  fill: var(--primary) !important;
}
